
input{
  padding: 12px;
  margin: 9px;
  border-radius: 3px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
  padding: 12px;
  margin: 9px;
  border-radius: 3px;
  cursor: pointer;
  font-family: Akzidenz
}  

.card{
  border: 1px solid #888;
  border-radius: 6px;
  padding: 30px 5px 10px;
  background: linear-gradient(deepskyblue, lightsalmon);
  margin-top: 40%;
}

h1{
  text-align: center;
  padding-bottom: 3px;
  color: white;
  font-family: Akzidenz;
}

h5{
  text-align: center;
  margin-top: 9px;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
} 

nav{
  background: linear-gradient(skyblue,white);
}
.title{
  font-family: "Comic Sans MS";
  font-size: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
  animation: text 3s linear;
}

.container{
  margin-right: 15%;
}

@keyframes text {
  0%{
    color: red;
  }
  30%{
    letter-spacing: 25px;
  }
  85%{
    letter-spacing: 8px;
  }
}
