/* Full-width input fields */
input{
  padding: 9px;
  margin: 6px;
  border-radius: 3px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
  padding: 9px;
  margin: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.card{
  border: 1px solid #888;
  border-radius: 6px;
  padding: 30px 5px 10px;
  background-color: #f96332;
  margin-bottom: 10px;
}

h1{
  text-align: center;
  padding-bottom: 3px;
  color: white;
  font-family: Akzidenz;
}

h5{
  text-align: center;
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

