
/* Modal Content/Box */
.modal-content {
  border: 1px solid #888;
  padding: 1em;
}


/* Full-width input fields */
input{
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.8
}
