button{
  border-radius: 12px;
  font-size: 15px;
  font-family: Akzidenz;
}

.view {
  height: 750px;
  width: 1550px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1
{
  color: blanchedalmond;
}
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.carousel-item {
  background-image: url("http://mdbootstrap.com/images/regular/people/img%20(83).jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


h2 {
  letter-spacing: 1px;
  font-size: 40px;
  font-family: Akzidenz;
  
}
h5 {
  letter-spacing: 1px;
  font-size: 25px;
  font-family: Akzidenz;
  
}
.hr-light {
  width: 400px;
}

