<nav class="navbar">
  <div class="title">Knowledge Bot</div>
  <form class="form-inline">
    <button class="btn btn-outline-dark my-2 mr-sm-0" [routerLink]="['/login']">Sign in</button>
    <button class="btn btn-outline-dark my-2 mr-sm-0" [routerLink]="['/register']">Sign up</button>
  </form>
</nav>

<div class="container col-6 float-right">
 <h1> <b>Built For <br>
    Knowledge Seekers </b></h1>

<br>

<h2> Knowledge Bot - A platform to seamlessly seek Knowledge. 
<br>
Unleash your growth with conversation with knowledgebot.
<br>
<br>
<br>
"Everything is theoretically impossible until it is done". </h2>
</div>





