<nav class="navbar">
    <div class="title">Knowledge Bot</div>
    <form class="form-inline">
      <button class="btn btn-outline-dark my-2 mr-sm-0" [routerLink]="['/login']">Sign in</button>
      <button class="btn btn-outline-dark my-2 mr-sm-0" [routerLink]="['/register']">Sign up</button>
    </form>
  </nav>

  <div class="container col-6 float-right">
   <h1>Hello Friend Iam Knowledge Bot...!! <br>
<br>
Want to explore knowledge? Ask me anything, anytime...

<br>
<br>
I'm here to help you :) </h1>
  </div>