<div class = "container col-4 float-right">
  <div class="card">
    <div class="card-header">
      <h2>Chat</h2>
    </div>
    <div class="card-body" id="card-body">
    <ng-container *ngFor="let message of messages | async">
      <div *ngIf="message.sentBy === 'bot' && message.content.length === 6; else elseBlock" class="alert" [ngClass]="{ 'from': message.sentBy === 'bot',
                                      'to': message.sentBy === 'user' }">
        <p>Here are some links to check</p>
        <a href={{message.content[0]}} target="_blank">{{message.content[0]}}</a><br>
        <a href={{message.content[1]}} target="_blank">{{message.content[1]}}</a><br>
        <a href={{message.content[2]}} target="_blank">{{message.content[2]}}</a>
        <p> Here are some video links !!</p>
        <iframe width="360" height="190" [src]="sanitizeVideo(message.content[3])" allowfullscreen></iframe>
        <iframe width="360" height="190" [src]="sanitizeVideo(message.content[4])" allowfullscreen></iframe>
        <iframe width="360" height="190" [src]="sanitizeVideo(message.content[5])" allowfullscreen></iframe>
      </div>
      <ng-template #elseBlock>
        <div class="alert" id="element" [ngClass]="{ 'from': message.sentBy === 'bot',
                                      'to': message.sentBy === 'user' }">
          {{message.content}}
        </div>
      </ng-template>
    </ng-container>
    </div>
      <input type="text" placeholder="your message here" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">
  </div>
</div>
