
  <div class="card">
    <div class="card-header">
      <h2>Chat</h2>
    </div>
    <div class="card-body" id="card-body">
    <ng-container *ngFor="let message of messages | async">
      <div class="alert" [ngClass]="{ 'from': message.sentBy === 'bot',
                                      'to': message.sentBy === 'user' }">
        {{ message.content }} 
      </div>
    </ng-container>
    </div>
      <input type="text" placeholder="your message here" [(ngModel)]="formValue" (keyup.enter)="sendMessage()">
    <button class="btn btn-primary" (click)="sendMessage()">Send</button>
  </div>




