.from{
  background-color: #c7eafc;
  border-radius: 5px;
  padding-top: 2%;
  font-style: italic;
  font-size: 16px;
  margin-right: 16%;
  animation: fade 1s linear;
}

.to{
  padding-top: 2%;
  background-color: #ffe6cb;
  text-align: right;
  margin-left: 16%;
  border-radius: 5px;
  font-style: italic;
  font-size: 16px;
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0%, 50% { opacity: 0; }
}

.card-header{
  background-color: skyblue;
  font-weight: bold;
  font-size: larger;
}

.card-body{
  /*background-image: linear-gradient(skyblue, white);*/
  height: 400px;
  overflow: auto;
}

.card{
  border: 2px solid #888;
  position: fixed;
  bottom: 6%;
  width: 46%;
  right: 3%;
}


input {
  padding: 1em;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
  padding: 1em;
  background-color: #f9764b;
  cursor: pointer;
}

