.from{
  background-color: whitesmoke;
  border-radius: 3px;
  padding-top: 18px;
  font-style: italic;
  font-size: 16px;
  margin-right: 80px;

}

.to{
  padding-top: 18px;
  background-color: lightseagreen;
  text-align: right;
  margin-left: 80px;
  border-radius: 3px;
  font-style: italic;
  font-size: 16px;
}

.card-header{
  background-color: #f9764b;
  font-weight: bold;
  font-size: larger;
}

.card-body{
  overflow:auto;
  background-color: paleturquoise;
  height: 30em;
}

.card{
  border: 2px solid #888;
}

input {
  padding: 1em;
  border: none;
  background: #f1f1f1;
}

/* Set a style for all buttons */
button {
  padding: 1em;
  background-color: #f9764b;
  cursor: pointer;
}

