.from{
  background-color: #C0C0C0	;
  border-radius: 5em;
  padding-top: 1em;
  font-style: italic;
}

.to{
  padding-top: 1em;
  background-color: lightblue;
  text-align: right;
  border-radius: 5em;
  font-style: italic;
}

.card-header{
  text-align: center;
  font-weight: bold;
  font-size: larger;
  background-color: #ffd8a7;
}

.card-body{
  overflow:auto;
  height: 35em;
}

.container{
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
}


