    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar" [class.menu-close]="isCollapsed" [class.menu-close]="!isCollapsed" >
        
            <div class="sidebar-header"  >
                Knowledgebot
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="/knowledgebot">
                        <i class="material-icons">home</i>  
                        Home
                    </a>
                </li>
                <li>
                    <a href="/tutorials">
                        <i class="material-icons">school</i>                   
                        Tutorials
                    </a>
                </li>
                <li>                 
                    <a href="/installations">
                        <i class="material-icons">file_download</i>
                         Installations
                    </a>
                </li>
                <li>
                    <a href="/playground">
                        <i class="material-icons">desktop_mac</i> 
                        PlayGround
                    </a>
                </li>
                <li>
                    <a href="/ide">
                        <i class="material-icons">library_add</i>
                        IDE Installations
                    </a>
                </li>                
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
        <div>
            <nav class="navbar navbar-expand-lg navbar-light bg-light" >
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-info"  (click)=toggle()>
                        <i class="material-icons">menu</i>
                    </button>
                </div>
            </nav>  
        </div>
        <div>
 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
                  <div class="row">
                <div class ="col-md-6 col-sm-12">
                    <a href="https://www.jetbrains.com/idea/" target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="IntelliJ IDEA" src="assets/images/ij.jpg">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">IntelliJ IDEA</h4>
                                    <div class="card-text">
                                    IntelliJ IDEA is an integrated development environment written in Java for developing computer software. It is developed by JetBrains, and is available as an Apache 2 Licensed community edition, and in a proprietary commercial edition. Both can be used for commercial development. 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class ="col-md-6 col-sm-12">
                    <a href="https://www.anaconda.com/products/individual" target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="Anaconda" src="assets/images/anaconda.png">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">Anaconda</h4>
                                    <div class="card-text">
                                    Anaconda is a Python distribution that is particularly popular for data analysis
and scientific computing.Open source project developed by Continuum Analytics, Inc..Available for Windows, Mac OS X and LinuxIncludes many popular packages: NumPy, SciPy, Matplotlib, Pandas,
IPython, Cython
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <br>
            <br>
            <div class="row">    
                <div class ="col-md-6 col-sm-12">
                    <a href="https://www.jetbrains.com/webstorm/download/" target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="webstrom" src="assets/images/ws.jpg">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">webstrom</h4>
                                    <div class="card-text">
                                    WebStorm is a powerful IDE for modern JavaScript development. WebStorm provides full support for JavaScript, TypeScript, HTML, CSS as well as for frameworks such as React, Angular, and Vue.js right out of the box, no additional plugins are required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                    <div class ="col-md-6 col-sm-12">
                    <a href="https://code.visualstudio.com/ " target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="Visual studio code" src="assets/images/vs.jpg">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">Visual Studio Code</h4>
                                    <div class="card-text">
                                    Visual Studio Code is a source-code editor developed by Microsoft for Windows, Linux and macOS. It includes embedded Git and support for debugging, syntax highlighting, intelligent code completion, snippets, and code refactoring
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>  
            </div>
    </div>
    <div class="carousel-item">
          <div class="row">
                <div class ="col-md-6 col-sm-12">
                    <a href="https://www.eclipse.org/downloads/packages/" target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="Eclipse" src="assets/images/eclipse.png">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">Eclipse</h4>
                                    <div class="card-text">
                                    Eclipse is an integrated development environment used in computer programming. It contains a base workspace and an extensible plug-in system for customizing the environment.
Eclipse is written mostly in Java and its primary use is for developing Java applications, but it may also be used to develop applications in other programming languages via plug-ins, including Ada, ABAP, C, C++, C#, Clojure, COBOL etc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class ="col-md-6 col-sm-12">
                    <a href="https://www.jetbrains.com/pycharm/download/#section=windows" target="_new">
                        <div class="card card-shadow"> 
                            <div class="card-body media">
                                <div class="imgg">     
                                    <img alt="PyCharm" src="assets/images/pycharm.jpg">
                                </div>
                                <div class="media-body">
                                    <h4 class="card-title">PyCharm</h4>
                                    <div class="card-text">
                                    PyCharm is an integrated development environment used in computer programming, specifically for the Python language. It provides code analysis, a graphical debugger, an integrated unit tester, integration with version control systems (VCSes), and supports web development with Django as well as Data Science with Anaconda
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
    </div>

   <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>
 
    


