nav{
  padding: 10px;
}

a{
  font-size: 18px;
  font-weight: bolder;
  font-family: Akzidenz;
}

button{
  font-size: 18px;
  font-family: Akzidenz;
  color: white;
}

.container{
  padding: 30px;
}


