<nav class="navbar">
    <div class="title">Knowledge Bot</div>
</nav>
<nav class="navbar navbar-expand-sm">
    <ul class="navbar-nav">
        <li class="nav-item dropdown1 ">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown" >
                <strong>Tutorials</strong>
            </a>
            <div class="dropdown-menu mega-menu" aria-labelledby="navbarDropdown">
                <div class='row'>
                    <div class="col-md-3">
                        <h3><strong>Programming Languages</strong></h3>
                        <h4><a href="https://developer.apple.com/swift" target=new>Swift</a></h4>
                        <h4><a href="https://www.scala-lang.org/" target=new>Scala</a></h4>
                        <h4><a href="https://golang.org/" target=new>Go</a></h4>
                        <h4><a href="https://www.python.org/" target=new>Python</a></h4>
                        <h4><a href="https://elm-lang.org/" target=new>Elm</a></h4>
                        <h4><a href="https://www.ruby-lang.org/en/" target=new>Ruby</a></h4>
                        <h4><a href="https://www.cprogramming.com/" target=new>C</a></h4>
                        <h4><a href="https://www.rust-lang.org/" target=new>Rust</a></h4>
                        <h4><a href="https://www.lynda.com/learning-paths/Developer/become-a-java-programmer" target=new>Java</a></h4>
                        <h4><a href="https://learn.unity.com/" target=new>Unity</a></h4>
                        <h4><a href="https://scikit-learn.org/stable/" target=new>Machine Learnig</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong> Server Side </strong></h3>
                        <h4><a href="https://www.php.net/" target=new>PHP</a></h4>
                        <h4><a href="https://dotnet.microsoft.com/apps/aspnet" target=new>ASP</a></h4>
                        <h4><a href="https://www.w3schools.com/nodejs/default.asp" target=new>Node.js</a></h4>
                        <br>
                        <h3><strong>Java Script</strong></h3>
                        <h4><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" target=new>Java Script</a></h4>
                        <h4><a href="https://learn.jquery.com/" target=new>jQuery</a></h4>
                        <h4><a href="https://reactjs.org/" target=new>ReactJS</a></h4>
                        <h4><a href="https://angular.io/" target=new>AngularJS</a></h4>
                        <h4><a href="https://vuejs.org/" target=new>Vue.js</a></h4>
                        <h4><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON" target=new>JSON</a></h4>
                        <h4><a href="https://learn.jquery.com/ajax/" target=new>AJAX</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong>HTML and CSS</strong></h3>
                        <h4><a href="https://www.w3schools.com/html/default.asp" target=new>HTML</a></h4>
                        <h4><a href="https://www.w3schools.com/css/default.asp" target=new>CSS</a></h4>
                        <h4><a href="https://getbootstrap.com/" target=new>Bootstrap</a></h4>
                        <br>
                        <h3><strong>SQL</strong></h3>
                        <h4><a href="https://www.mysql.com/" target=new>MYSQL</a></h4>
                        <h4><a href="https://www.postgresql.org/" target=new>PostgreSQL</a></h4>
                        <h4><a href="https://www.oracle.com/index.html" target=new>ORACLE</a></h4>
                        <h4><a href="https://hughes.com.au/" target=newlank>mSQL</a></h4>
                        <h4><a href="https://www.microsoft.com/en-us/sql-server/sql-server-2019" target=new>Microsoft SQL</a></h4>
                        <h4><a href="https://www.mongodb.com/" target=new>MongoDB</a></h4>
                    </div>

                </div>
            </div>
        </li>
        <br>
        <li class="nav-item dropdown2">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <strong>Installations</strong>
            </a>
            <div class="dropdown-menu mega-menu2" aria-labelledby="navbarDropdown">
                <div class='row'>
                    <div class="col-md-3">
                        <h3><strong>Windows</strong></h3>
                        <h4><a href="https://www.python.org/downloads/windows/" target=new>Python</a></h4>
                        <h4><a href="https://www.journaldev.com/7456/download-install-scala-linux-unix-windows#download-and-install-scala-on-windows" target=new>Scala</a></h4>
                        <h4><a href="https://swiftforwindows.github.io/" target=new>swift</a></h4>
                        <h4><a href="https://golang.org/dl/" target=new>Go</a></h4>
                        <h4><a href="https://guide.elm-lang.org/install/elm.html" target=new>Elm</a></h4>
                        <h4><a href="https://rubyinstaller.org/" target=new>Ruby</a></h4>
                        <h4><a href="https://medium.com/@randerson112358/how-to-install-the-c-programming-language-on-windows-c9813f1c5abb" target=new>C</a></h4>
                        <h4><a href="https://www.shadercat.com/setting-up-a-rust-development-environment-on-windows-10/" target=new>Rust</a></h4>
                        <h4><a href="https://java.com/en/download/help/windows_manual_download.xml" target=new>Java</a></h4>
                        <h4><a href="https://unity3d.com/get-unity/download" target=new>Unity</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong> Mac</strong></h3>
                        <h4><a href="https://www.python.org/downloads/mac-osx/" target=new>Python</a></h4>
                        <h4><a href="https://www.scala-lang.org/download/" target=new>Scala</a></h4>
                        <h4><a href="https://swift.org/download/#using-downloads" target=new>Swift</a></h4>
                        <h4><a href="https://golang.org/dl/" target=new>Go</a></h4>
                        <h4><a href="https://guide.elm-lang.org/install/elm.html" target=new>Elm</a></h4>
                        <h4><a href="https://stackify.com/install-ruby-on-your-mac-everything-you-need-to-get-going/" target=new>Ruby</a></h4>                        
                        <h4><a href="https://www.cs.auckland.ac.nz/~paul/C/Mac/" target=new>C</a></h4>
                        <h4><a href="https://sourabhbajaj.com/mac-setup/Rust/" target=new>Rust</a></h4>
                        <h4><a href="https://java.com/en/download/help/mac_install.xml" target=new>Java</a></h4>
                        <h4><a href="https://unity3d.com/get-unity/download" target=new>Unity</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong>Linux/UNIX</strong></h3>
                        <h4><a href="https://www.python.org/downloads/source/" target=new>Python</a></h4>
                        <h4><a href="https://www.journaldev.com/7456/download-install-scala-linux-unix-windows#download-and-install-scala-on-linux-systems" target=new>Scala</a></h4>
                        <h4><a href="https://itsfoss.com/use-swift-linux/" target=new>Swift</a></h4>
                        <h4><a href="https://golang.org/dl/" target=new>Go</a></h4>
                        <h4><a href="https://guide.elm-lang.org/install/elm.html" target=new>Elm</a></h4>
                        <h4><a href="https://www.thoughtco.com/instal-ruby-on-linux-2908370" target=new>Ruby</a></h4>  
                        <h4><a href="https://data-flair.training/blogs/install-c-on-linux/" target=new>C</a></h4>
                        <h4><a href="https://www.techrepublic.com/article/how-to-install-rust-on-linux/" target=new>Rust</a></h4>
                        <h4><a href="https://java.com/en/download/help/linux_install.xml" target=new>Java</a></h4>
                        <h4><a href="https://unity3d.com/get-unity/download" target=new>Unity</a></h4>

                    </div>

                </div>
            </div>
        </li>
        <br>
        <li class="nav-item dropdown3">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <strong>Play Grounds</strong>
            </a>
            <div class="dropdown-menu mega-menu3" aria-labelledby="navbarDropdown">
                <div class='row'>
                    <div class="col-md-3">
                        <h3><strong>Programming Languages</strong></h3>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('http://online.swiftplayground.run/','swift',500,700,500,500)">Swift</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.tutorialspoint.com/compile_scala_online.php','scala',500,700,500,500)">Scala</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://play.golang.org/','go',500,700,500,500)">Go</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.katacoda.com/courses/python/playground','python',500,700,500,500)">Python</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://elm-lang.org/try','Elm',500,700,500,500)">Elm</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://repl.it/languages/ruby','Ruby',500,700,500,500)">ruby</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.onlinegdb.com/online_c_compiler','C',500,700,500,500)">C</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.jdoodle.com/execute-rust-online/','Rust',500,700,500,500)">Rust</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.tutorialspoint.com/compile_java_online.php','Java',500,700,500,500)">Java</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong> Server Side </strong></h3>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('http://www.writephponline.com/','PHP',500,700,500,500)">PHP</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://dotnetfiddle.net/Xds08j','Asp',500,700,500,500)">Asp</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://repl.it/languages/nodejs','Node.js',500,700,500,500)">Node.js</a></h4>
                        <br>
                        <h3><strong>Java Script</strong></h3>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://js.do/','Java Script',500,700,500,500)">Java Script</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://jsfiddle.net/boilerplate/jquery','jQuery',500,700,500,500)">jQuery</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://codesandbox.io/s/new','ReactJs',500,700,500,500)">ReactJs</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://codesandbox.io/s/angular','AngularJs',500,700,500,500)">AngularJs</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://jsfiddle.net/ddtxra/60wme3pf/','jQuery Ajax',500,700,500,500)">jQuery Ajax</a></h4>
                    </div>
                    <div class="col-md-3">
                        <h3><strong>HTML and CSS</strong></h3>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://code.sololearn.com/WoNr8gIeKYDr/#html','HTML',500,700,500,500)">HTML</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://jsfiddle.net/','CSS',500,700,500,500)">CSS</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.codeply.com/','Bootstrap',500,700,500,500)">Bootstrap</a></h4>
                        <br>
                        <h3><strong>SQL</strong></h3>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://paiza.io/en/projects/new?language=mysql','MYSQL',500,700,500,500)">MYSQL</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://pgexercises.com/questions/basic/selectall.html','POSTGRESQL',500,700,500,500)">POSTGRESQL</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://rextester.com/l/oracle_online_compiler','ORACLE',500,700,500,500)">ORACLE</a></h4>
                        <h4><a href="http://localhost:4200/knowledgebot" (click)="playground('https://www.mplay.run/mongodb-online-terminal','MongoDB',500,700,500,500)">MogoDB</a></h4>
                    </div>

                </div>
            </div>
        </li>
        <br>
        <br>
        <li class="nav-item dropdown4">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                <strong>IDE Installations</strong>
            </a>
            <div class="dropdown-menu mega-menu4" aria-labelledby="navbarDropdown">
                <div class='row'>
                    <div class="col-md-5">
                        <h4><a href="https://www.jetbrains.com/idea/" target=new>IntelliJ IDEA</a></h4>
                        <h4><a href="https://www.anaconda.com/products/individual" target=new>Anaconda</a></h4>
                        <h4><a href="https://www.jetbrains.com/webstorm/download/" target=new>Webstorm</a></h4>
                        <h4><a href="https://code.visualstudio.com/" target=new>Visual studio code</a></h4>
                        <h4><a href="https://www.eclipse.org/downloads/packages/" target=new>Eclipse</a></h4>
                        <h4><a href="https://www.jetbrains.com/pycharm/download/#section=windows" target=new>PyCharm</a></h4>
                        <h4><a href="https://visualstudio.microsoft.com/" target=new>Visual Studio</a></h4>
                        <h4><a href="https://developer.android.com/studio" target=new>Android Studio</a></h4>
                        <h4><a href="https://netbeans.apache.org/download/index.html" target=new>Netbeans</a></h4>
                        <h4><a href="https://apps.apple.com/us/app/xcode/id497799835?mt=12  " target=new>Xcode</a></h4>
                    </div>
                    <div class="col-md-5">
                        <h4><a href="https://www.jetbrains.com/idea/" target=new>Code Blocks</a></h4>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</nav>
<!--<div class="col-md-8">-->
<!--    <ng-container *ngFor="let message of messages | async">-->
<!--      <div *ngIf="message.sentBy === 'bot' && message.content.length === 3;" class="alert" [ngClass]="{ 'from': message.sentBy === 'bot',-->
<!--                                      'to': message.sentBy === 'user' }">-->
<!--            <iframe width="425" height="400" [src]="sanitizeVideo(message.content[0])"></iframe>-->
<!--            <iframe width="400" height="200" [src]="sanitizeVideo(message.content[1])"></iframe>-->
<!--            <iframe width="400" height="200" [src]="sanitizeVideo(message.content[2])"></iframe>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--</div>-->
<div class="col-md-6 float-right">
    <button class="btn-primary btn-lg" id="chatbutton" (click)="openChatBot()">Chat</button>
    <app-chat-dialog *ngIf="loadComponent"></app-chat-dialog>
</div>