<nav class="navbar">
  <div class="title">Knowledge Bot</div>
</nav>
<nav class="navbar" id="menu">
  <ul class="navbar-nav">
    <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
      <strong>Courses</strong>
    </a>
    <div class="dropdown-menu mega-menu">
      <div class='row'>
        <div class="col-md-5">
          <p><a href="https://www.w3schools.com/html/default.asp" target=blank>Java</a></p>
          <p><a href="#">Python</a></p>
          <p><a href="#">Angular</a></p>
          <p><a href="#">JavaScript</a></p>
          <p><a href="#">Go</a></p>
          <p><a href="#">Dotnet</a></p>
          <p><a href="#">HTML</a></p>
        </div>
        <div class="col-md-3">
          <p><a href="#">CSS</a></p>
          <p><a href="https://getbootstrap.com/" target=blank>bootstrap</a></p>
          <p><a href="#">C</a></p>
          <p><a href="#">C++</a></p>
          <p><a href="#">React JS</a></p>
          <p><a href="#">MongoDB</a></p>
          <p><a href="#">TypreScript</a></p>
          <p><a href="#">Mainframes</a></p>

        </div>
      </div>
    </div>
  </ul>
</nav>

<!--<div class="col-md-8">-->
<!--    <ng-container *ngFor="let message of messages | async">-->
<!--      <div *ngIf="message.sentBy === 'bot' && message.content.length === 3;" class="alert" [ngClass]="{ 'from': message.sentBy === 'bot',-->
<!--                                      'to': message.sentBy === 'user' }">-->
<!--            <iframe width="425" height="400" [src]="sanitizeVideo(message.content[0])"></iframe>-->
<!--            <iframe width="400" height="200" [src]="sanitizeVideo(message.content[1])"></iframe>-->
<!--            <iframe width="400" height="200" [src]="sanitizeVideo(message.content[2])"></iframe>-->
<!--      </div>-->
<!--    </ng-container>-->
<!--</div>-->
<div class="col-md-6 float-right">
    <button class="btn-primary btn-lg" id="chatbutton" (click)="openChatBot()">Chat</button>
    <app-chat-dialog *ngIf="loadComponent"></app-chat-dialog>
</div>
