<nav class="navbar">
  <div class="title">Knowledge Bot</div>
  <form class="form-inline">
    <button class="btn mr-sm-2" [routerLink]="['/login']">Sign in</button>
    <button class="btn btn-outline-dark my-2 mr-sm-0" [routerLink]="['/register']">Sign up</button>
  </form>
</nav>

<div class="container col-3 float-right">
  <form class="card" #form="ngForm">

    <h1>Sign Up</h1>

    <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>

    <input type="password" placeholder="Password" [(ngModel)]="password" name="psw" required>

    <input type="password" placeholder="Confirm Password" [(ngModel)]="repeatPassword"
           name="psw-repeat" required>

    <button type="submit" (click)="register()" [disabled]="form.invalid">Sign Up</button>

    <h5>Registered alredy? <a routerLink='/login'>Sign in here!</a></h5>
    <div *ngIf="registerAttempted && registerSuccess">
      <h5>Registered successfully ! Click <a routerLink='/login'> here </a>to Sign in</h5>
    </div>
  </form>
</div>

