<nav class="navbar justify-content-end">
  <button class="btn-success" [routerLink]="['/login']">Sign in</button>
</nav>

<div class ="container col-3">
<form class="card" #form="ngForm">

  <h1>Sign Up</h1>

  <input type="email" placeholder="Email" [(ngModel)]="email" name="email" required>

  <input type="password" placeholder="Password" [(ngModel)]="password" name="psw" required>

  <input type="password" placeholder="Confirm Password" [(ngModel)]="repeatPassword"
         name="psw-repeat" required>

  <button type="submit"  (click)="register()" [disabled]="form.invalid">Sign Up</button>

</form>

<form class="card" *ngIf="registerAttempted && registerSuccess">
  <h5>Registered successfully ! Click <a routerLink='/login'> here </a>to Sign in</h5>
</form>
</div>

