.intro-header {
  height: unset !important;
}


.view {
  height: 750px;
  width: 1550px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.h1{

  font-size: 25px;
}



.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}


.rgba-gradient .full-bg-img {
  background: linear-gradient(45deg, rgba(83, 125, 210, 0.4), rgba(178, 30, 123, 0.4) 100%);
}


.card {
  background-color: rgba(126, 123, 215, 0.2);
  text-align: left;
 
  
}

.text-center{
   font-size: 15px;
  font-family: Akzidenz;
} 

button{
  border-radius: 15px;
  font-size: 12px;
  font-family: Akzidenz;

} 

.md-form {
  font-size: 20px;
  font-family: Akzidenz;
  
}

.md-form label {

  font-size: 19px;
  font-family: Akzidenz;
  color: rgb(135, 151, 222);
 
}

.md-form i {
  margin-top: 18px;
 color: blue;

}

.md-form input {

  font-size: 17px;
  font-family: Akzidenz;
}

h6 {
  line-height: 1.7;
}
@media (max-width: 740px) {
  .full-height,
  .full-height body,
  .full-height header,
  .full-height header .view {
    height: 1040px;
  }
}
.hr-light {
  width: 500px;
  margin-left: 20;
}